footer {
  user-select: none;
  text-align: center;
  line-height: 50px;
  margin: auto;
}

.copyright {
  color: #eee;
  display: inline-block;
}

/*************** || RESPONSIVE DESIGN || ***************/

@media only screen and (min-width: 310px) and (max-width: 374px) {
  .portfolioGithub {
    display: none;
  }
}
